<div id="aa" class="collapse navbar-collapse navbar-inverse">


    <ul class="nav navbar-nav">
        <li routerLinkActive="active"> <a routerLink="viewPokemon">Vezi Pokemoni</a> </li>

    </ul>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"> <a routerLink="pokemonBattle">Pokemon Battle</a> </li>
    </ul>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"> <a routerLink="addPokemon">Add Pokemon</a> </li>
    </ul>
    <div style="display:flex;justify-content: flex-end; ">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"> <a routerLink="">LeaveApp❌</a> </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>